<!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <p id="notice"><%= notice %></p>
                <% if !@q_notice.nil? %>
                  <p class="well imp-notice"><strong><%= @q_notice %></strong></p>
                <% end %>  

                <h1 class="page-header">
                    Listing All Posts
                    <% if @selected_category == "none" || @selected_category == "All" %>
                      <small>All Categories</small>
                    <% else %>
                      <small>Category: <%= @selected_category %></small>
                    <% end %>
                </h1>

                <!-- Blog Post List -->
                <% @posts.each do |post| %>
                  <h2>
                      <%= link_to post.title, post %>
                  </h2>
                  <p class="lead">
                      by <a href="/pages/about">SilverFox</a>
                  </p>
                  <p><span class="glyphicon glyphicon-time"></span><%= post.created_at.to_formatted_s(:long_ordinal) %></p>
                  <hr>
                  <%= image_tag(post.img_url, class: "img-responsive") %>
                  <hr>
                  <p><%= sanitize(excerpt(post.content," ", radius: 240))%></p>
                  <a class="btn btn-primary" href="posts/<%=post.id%>">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                  <!-- Post Category -->
                  <p>Category:<%= post.category %></p>

                  <hr>
                  
                  <% if admin_user_signed_in? %>
                    <p><strong>Admin Actions: </strong>
                      <%= link_to 'Edit', edit_post_path(post), class: "btn btn-info" %> 
                      <%= link_to 'Delete', "/posts/#{post.id}", method: :delete, class: "btn btn-danger",confirm: "Are you sure?" %>
                    </p>
                  <% end %>
                <% end %>
                <hr>

                <!-- Pager -->
                <ul class="pager">
                  <% if @start > 1 && @posts.length > 2%>
                    <li class="previous">
                      <%= link_to raw("&larr; Older"), posts_path(start: @start - 3) %>
                    </li>
                  <% end %>
                  <% if !@limit %>
                    <li class="next">
                      <%= link_to raw("Newer &rarr;"), posts_path(start: @start + 3) %>
                    </li>
                  <% end %>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
              
              <!-- Blog Search Well -->
              <%= render partial: "search_well" %>    

              <!-- Blog Categories Well -->
                  <%= render partial: "cat_well" %>

              <!-- Side Widget Well -->
                <%= render partial: "side_well" %>

            </div><!--/.col-md-4 -->

        </div><!-- /.row -->

        <hr>

<br>

<% if admin_user_signed_in? %>
  <%= link_to 'New Post', new_post_path, class: "btn btn-warning" %>
<% end %>
